ass-api.strawberrycat.dev {
    reverse_proxy http://backend:8000

}

ass.strawberrycat.dev {
    handle /* {
        root * /usr/share/nginx/html
        file_server
        try_files {path} /index.html
    }
}