fastapi==0.115.12
uvicorn
alembic
sqlalchemy
psycopg2-binary
pydantic-settings
python-dotenv
black
beautifulsoup4
httpx
apscheduler~=3.10.0
httpx[http2,socks]
python-jose[cryptography]
passlib==1.6.4
bcrypt==4.2.1
python-multipart
asyncpg