/* App Layout */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white !important;
}

.app-content {
  flex: 1;
  padding: 1rem;
  background-color: var(--bg);
  color: white !important;
} 